header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100%;
    background-color: #0D3C5B;
    height: 100px;
}

.mobilemenu{
    background-color: #0D3C5B;     
    box-shadow: 0 0px 10px rgb(124, 123, 123);
    font-size: 1em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 55%;
    display: none;
    z-index: 4;
}

.mobilemenu ul{
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.mobilemenu li{
   padding: 5%;
   margin-bottom: 15%;
   width: 100%;
}

.mobilemenu a {
   color: white; 
   padding: 1%;
   font-size: 1.2rem;
   font-weight: bold;
}

.menu-btn{    
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #0D3C5B;
    border: 2px solid white;
    cursor: pointer;
    display: none;
}
.open{
    margin: 0 1em;
}
.menu-icon{
    margin-right: 10px;
}
.bars{
    display: block;  
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.menu-text{
    margin-left: 10px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.close{
    margin: 1em 1.5em;
    padding: 10px 15px
}

.cross1{
    width: 25px;    
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2{
    width: 25px; 
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

.desktopmenu ul{
    list-style-type: none;
    display: flex;
    gap: 10%;
}

.desktopmenu a{      
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    white-space: nowrap;
}

nav .current{
    background-color: white;
    color: black;
    padding-top: 100%;
    padding-bottom: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

@media  (max-width: 800px){ 
    .desktopmenu{
        display: none;
    }

    .menu-btn{ 
        display:block;
        display: flex !important;
        right: 5%;
    }

    .mobilemenu{
        display: none;
    }

    nav .current{
    background-color:#0D3C5B;
    color: white;
    padding: 0;
    }
}